:root {
  --bgColor: #eeddc6;
  --fontColor: darkgreen;
  --boderColor: #835c3b;
}

/* universal selector - set box style */
* {
  box-sizing: border-box;
}

/* set default font to ~10px per rem */
html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  font-size: 1.6rem;
  color: var(--fontColor);
  background-color: var(--bgColor);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: sticky;

  width: 100%;
  padding: 1rem;
  border-bottom: 0.2rem solid #835c3b;
}

header h1 {
  margin: 0;
  font-size: 3.2rem;
}

header nav {
  margin: 1rem 0;
  align-self: flex-end;
}

header a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 425px) {
  header {
    flex-direction: row;
    align-items: baseline;
  }
}
