.test {
  margin: 0 1rem;
  font-family: "Courier New", Courier, monospace;

  h3 {
    font-weight: bold;
  }

  .value {
    margin-left: 3rem;
  }

  .array {
    margin-left: 5rem;
    display: inline-block;

    div {
      background-color: antiquewhite;

      &:not(:last-child)::after {
        content: ",";
      }
    }
    &::before {
      content: "[";
      margin-left: -2rem;
    }
    &::after {
      content: "]";
      margin-left: -2rem;
    }
  }

  .object {
    // margin-left: 3rem;
    vertical-align: top;
    // display: inline-block;

    div {
      margin: 0 2rem;
      background-color: antiquewhite;

      &:not(:last-child)::after {
        content: "";
      }
    }

    &::before {
      content: "{";
    }

    &::after {
      content: "}";
    }
  }

  .value {
    background-color: antiquewhite;
  }

  .obj-property {
    font-weight: bold;
  }
}
